html {
  --primary-color: #0090ff;
  --primary-color--light: #0091ff23;

  --text-color: #707070;
  --text-color--dark: #000000;
  --text-color--light: #c9c9c9;
  --text-color--accent: #ffffff;

  --ui-border-color: #707070;

  --ui-background-color: #ffffff;
  --ui-background-color--medium: #eeeeee;
  --ui-background-color--dark: #555555;

  --ui-border-radius: 6px;

  --ui-timing: 0.2s;
}
