.products-page {
  position: relative;

  &__header {
    position: relative;
    margin: 0 0 40px 0;

    &-line {
      margin: 32px 0 12px 0;
      height: 1px;
      width: 100%;
      background-color: var(--ui-border-color);
    }

    &-title {
      margin: 0 0 40px 0;
      font-size: 1.6875rem;
      font-weight: bold;
    }
  }

  &__sorting {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__bottom {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 48px 0 0 0;

    &-select {
      width: 85px;
      min-width: 85px;
    }

    &-pagination {
      position: relative;

      &-wrapper {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}
