.products-page {
  position: relative;

  &__header {
    position: relative;
    margin: 0 0 40px 0;

    &-title {
      margin: 0 0 40px 0;
      font-size: 1.6875rem;
      font-weight: bold;
    }
  }

  &__select {
    width: 85px;
  }
}